---
- name: Install OpenSSH server
  package:
    name: openssh-server
    state: present

- name: Create SSH runtime directory
  file:
    path: /run/sshd
    state: directory
    mode: '0755'
    owner: root
    group: root

- name: Generate SSH config template
  template:
    src: sshd_config.j2
    dest: /etc/ssh/sshd_config
    backup: yes
    validate: /usr/sbin/sshd -t -f %s
  notify: restart ssh

- name: Ensure SSH service is enabled and started
  systemd:
    name: ssh
    state: started
    enabled: yes
